@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(233, 47%, 7%);
}
#card {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: hsl(244, 38%, 16%);
}
#header {
  background-image: url('images/image-header-mobile.jpg')/*('https://raw.githubusercontent.com/thisguyisunknown/stats-preview-card/main/images/image-header-mobile.jpg.')*/;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 215px;
  width: 100%;
}
#header:before {
  content: '';
  position: absolute;
  left: 0;
  background-color: hsl(277, 64%, 61%);
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
}
#content {
  padding: 35px 25px 10px 25px;
}
h1 {
  font-family: 'Inter', Sans-Serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}
h1 > span {
  color: hsl(277, 64%, 61%);
}
#intro > p {
  margin: 15px 0 0 0;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
  font-family: 'Inter', Sans-Serif;
  font-weight: 400;
  font-size: .94rem;
}
#stats {
  margin: 35px 0 0 0;
  font-family: 'Lexend Deca', Sans-Serif;
}
.stat > h2 {
  font-size: 1.3rem;
  color: hsl(0,0%,100%);
}
.stat > p {
  margin: 5px 0 20px 0;
  font-size: .8rem;
  color: hsla(0, 0%, 100%, 0.6);
}
.attribution {
  margin: 0 0 10px 0;
  font-size: 11px;
  text-align: center;
  font-family: 'Inter', Sans-Serif;
  font-weight: 400;
  color: #fcfcfc;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 480px) {
  #card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
  }
  #header {
    height: 250px;
  }
  .attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
  }
}
@media (min-width: 769px) {
  #card {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    width: 769px;
    text-align: left;
  }
  #header {
    background-image: url('images/image-header-desktop.jpg')/*('https://github.com/thisguyisunknown/stats-preview-card/blob/main/images/image-header-desktop.jpg?raw=true')*/;
    flex: 0 0 384px;
    min-height: 300px;
    width: 384px;
  }
  #content  {
    flex: 0 0 314px;
    margin: 0 40px 0 0;
    padding: 35px 0 30px 30px;
    width: 314px;
  }
  h1 {
    font-size: 1.8rem;
  }
  #stats {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  h2 {
    font-size: 1.2rem;
  }
  .stat > p {
    margin-bottom: 0;
    font-size: .7rem;
  }
}
@media (min-width: 1024px) {
  #card {
    width: 900px;
  }
  #header {
    flex: 0 0 450px;
    min-height: 400px;
    width: 450px;
  }
  #content {
    flex: 0 0 315px;
    margin: 0 75px 0 0;
    padding: 70px 0 35px 60px;
    width: 315px;
  }
  #stats {
    margin: 65px 0 0 0;
  }
}